.fieldButtons{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}
.placedButtons{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #ff6944;
}
.shipButtons{
    -fx-pref-width: 100px;
}
.text-field{
    -fx-pref-width: 25px;
}
#submit{
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
    -fx-text-alignment: center;
}
#submit:hover{
    -fx-background-color: #6ed007;
}
#errorLabel{
    -fx-pref-width: 450px;
    -fx-pref-height: 40px;
    -fx-text-fill: red;
    -fx-font-size: 1.5em;
}
