.fieldButtons{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
}
.FieldLabel{
    -fx-font-size: 1.2em;
}
.ButtonClicked{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: gray;
}
.ButtonHit{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #ff8602;
}
.ButtonDeadShip{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #ff0000;
}